<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="softcommerce_profile_config_save_after">
        <observer name="softcommerce_profile_schedule_config_save_after" instance="SoftCommerce\ProfileSchedule\Observer\Backend\ProfileSaveAfterControllerAction"/>
    </event>
</config>
